* {
    margin: 0;
    padding: 0;
}
body {
    background-color:darkslategrey;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 7rem;
    height: 7rem;
    margin-top: 2rem;
}
a {
    color: #fee389;
}

h1 {
    color: #fee389;
}